<!DOCTYPE html>
<html>


<head>
  <title>Oliver</title>
  <link rel="stylesheet" href="../resources/style.css">

</head>
<body>
  <header>
    <div class="main">
      <div class="logo">
        <img src="../resources/one.png">

      </div>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li class="active"><a href="about.html">About</a></li>
        <li><a href="https://github.com/Tauheed-Elahee/Oliver">GitHub</a></li>
      </ul>

    </div>
    <div class="titleabout">

      <h1>About</h1>
    </div>
    <div class="titleabout2">
      <h2>Oliver is your friendly companion that helps you transition between songs at ease. It can manage your stress levels by choosing suitable songs that’ll insure you stay at a relaxed heart rate. Sit back, relax, and let Oliver do all the work for you.</h2>

    </div>

    <div class="button">
      <a href="index.html" class="btn">Back</a>
    </div>

  </header>
</body>
</html>
